UD4 2º PARTE/parent1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="parent" type="parentType">
    </xs:element>
    <xs:complexType name="parentType">
            <xs:sequence>
                <xs:element name="son" type="xs:string" />
                <xs:element name="daughter" maxOccurs="unbounded" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
</xs:schema>