UD4 2º PARTE/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person" type="xs:string">
        <xs:complexType>
            <xs:attribute name="birthdate" type="xs:date"/>
            <xs:attribute name="presentation" type="xs:dateTime"/>
        </xs:complexType>
    </xs:element>
</xs:schema>