UD4 2º PARTE/temperatures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="temperatures">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="daily" type="dailytype"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="dailytype">
        <xs:list itemType="xs:decimal"/>
    </xs:simpleType>
</xs:schema>